@import "~bootstrap/scss/functions";

$blue: #0086B7;
$red: #B7006A;
$bg_orange:#FFF8F0;
$yellow: #EBC41D;
$green: #82AA60;
$darkolivegreen:#415E29;
$light: #FAF9F8;
$black: #181F22;
$light-blue:#9EBCC7;
$color_newPioint: #d21e1e